name: PR Review Environment

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
  workflow_dispatch:

permissions:
  contents: read
  packages: write


env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_PREFIX: ${{ github.repository }}


jobs:
  deploy:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate deterministic tag
        id: randtag
        run: echo "tag=pr-${{ github.event.number }}-$(echo ${{ github.event.pull_request.head.sha }} | cut -c1-12)" >> $GITHUB_OUTPUT

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_PREFIX }}:${{ steps.randtag.outputs.tag }}

      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_PREFIX }}:${{ steps.randtag.outputs.tag }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy with webhook
        run: |
          curl -X POST ${{ secrets.SEMAPHORE_WEBHOOK_URL }} \
          -H "Authorization: Bearer ${{ secrets.SEMAPHORE_WEBHOOK_TOKEN }}" \
          -d '{"from_pipeline": "true", "municipality_dnsname": "review-${{ steps.randtag.outputs.tag }}.review-scw.delta10-review.nl", "signalen_bucket_name": "signalen-review", "signalen_backend_tag": "${{ steps.randtag.outputs.tag }}" }'

      # Output preview URL
      - name: Output preview URL
        run: |
          echo "Preview: https://meldingen.review-${{ steps.randtag.outputs.tag }}.review-scw.delta10-review.nl"
